* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.home-container {
  background-image: url("../styles/HI\ BEAUTY.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.overlay {
  position: absolute;
  background: rgba(5, 4, 4, 0.65);
  backdrop-filter: blur(17.5px);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  right: 0;
  z-index: 2;
}
/* Style the navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 3rem;
  text-align: right;
  box-sizing: border-box;
  z-index: 3;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: border-bottom 0.3s;
}
.navbar a:hover {
  border-bottom: 2px solid #fff;
}
.nav-item {
  text-align: left;
}
.home .intro {
  color: white;
}
.card-conatiner {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}
.home .service {
  background: #a5836a;
}
.card {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none !important;
  background: none !important;
}
.home .schedule-title {
  text-align: right;
  align-items: center;
  justify-content: center;
}
.home .schedule-times {
  text-align: left;
  border-left: 2px solid black;
  padding-right: 1rem;
}
.home .about {
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.vertical-line {
  border-left: 2px solid #000;
  height: 100%;
  margin-right: 1rem;
}
.home .price {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  background-color: black;
}
.home .price h2, .home .price p {
color: white;
}
@media (max-width: 767px) {
  .navbar {
    height: auto;
  }
  .navbar-toggler {
    margin-right: 1rem;
  }
  .navbar-collapse {
    margin-top: 0.75rem;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 5px;
  }
  .overlay {
    width: 100%;
    background: rgba(5, 4, 4, 0.65);
    backdrop-filter: none;
  }
  .home-container {
    max-height: 28rem;
  }
}
