* {
  background-color: black;
}

.home-container {
  background-image: url("../styles/HI\ BEAUTY.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 30rem;
  display: flex;
  align-items: center;
  position: relative;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  right: 0;
}
.Navabar container {
  position: absolute;
  margin: 20px;
  width: auto;
  z-index: 3;
}
.topnav {
  overflow: hidden;
  background-color: transparent;
  position: flex-end;
}
/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}
